* {
  padding: 0;
  margin: 0;
  margin-left: 1px;
  box-sizing: border-box;}

  body {
    background-color: rgba(182, 180, 180, 0.268);
  }

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  height: 80px;
  margin-bottom: 20px;
}

.trybewarts-header-logo {
  height: 50px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  width: 470px;
}

.img-header {
  margin-left: 10px;
  width: 80px;

}

.h1-header {
  text-align: center;
  width: 850px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

main , #evaluation-form {
  display: flex;
  margin-left: 70px;
}

#evaluation-form {
  flex-direction: column;
  width: 675px;
}

#agrupa {
  display: flex;
  width: 90%;
}

#family-section {
  width: 30%;
}

#container-checkbox {
  width: 70%;
}

#family-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#label-content {
  display: flex;
  flex-direction: row-reverse;
}

#container-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-checkbox {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
}

#label-rate {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 20px 0;
  width: 90%;
}

.textarea {
  background-color: white;
  margin-bottom: 20px;
  height: 120px;
  width: 90%;
}

.input-textarea {
  border: none;
  height: 100px;
  padding: 5px;
  resize: none;
  width: 99.7%;
}

.radio {
  margin: 1.5px;
}

.hr {
  margin: 10px;
  width: 90%;
}

#house {
  width: 100px;
}

#input-form {
  width: 90%;
}

#input-house {
  width: 90%;
}

.input {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  padding-left: 2%;
  height: 35px;
  width: 280px;
}

.input-login {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 2%;
  width: 150px;
}

.input-select {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 2%;
}

.label {
  padding: 50px;
}

#button-form {
  background-color: #480ca8;  
  border-radius: 5px;
  border: none;
  color: white;
  height: 35px;
  width: 150px;
}

#submit-btn {
  background-color: #480ca8;  
  border-radius: 5px;
  border: none;
  color: white;
  height: 35px;
  width: 610px;
}

.family, .checkbox-conteudo {
  margin: 10px 0 10px 0;
}

#agreement {
  margin-bottom: 20px;
}

footer {
  background-color: rgb(0,0,0,0.7);
  bottom: 0;
  color: white;
  height: 30px;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}